@tailwind base;
@tailwind components;
@tailwind utilities;

.date-input-with-icon {
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%236b7280'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0h18' /%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.25rem 1.25rem;
    text-align: left; /* Added to fix iOS alignment issue */
}

@layer components {
  .input-field {
    @apply px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
  }
}

@keyframes flash-background {
  0% { background-color: white; }
  25% { background-color: #e0e7ff; } /* bg-indigo-100 */
  75% { background-color: #e0e7ff; }
  100% { background-color: white; }
}

.highlight-flash {
  animation: flash-background 1.5s ease-in-out;
}